<ion-header>
    <ion-toolbar mode="ios">
        <ion-buttons slot="start">
            <ion-back-button ></ion-back-button>
        </ion-buttons>
        <ion-title style="margin-right: 44px;" text-center>Settings</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-button class="btn" (click)="clickResetConnection()" color="light">Reset connection</ion-button>
    <ion-button class="btn" (click)="openModalInstitution()" color="light">to chose Instation and Sector</ion-button>
</ion-content>