<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="patients">
      <ion-icon name="contacts"></ion-icon>
      <ion-label>Patients</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="occupations">
      <ion-icon name="filing"></ion-icon>
      <ion-label>Assignments</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="staff">
      <ion-icon name="person"></ion-icon>
      <ion-label>Staff</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="notifications">
      <ion-icon name="md-notifications-outline"></ion-icon>
      <div class="notifications">
        <span>
          {{numberNewPosts >= 100 ? '99+' : numberNewPosts}}
        </span>
      </div>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>