#conditions{
    .titleGroup{
        text-transform: uppercase;
        ion-label{
            font-weight: 600;
            font-size: .85rem;
            color: #7c726c;
            margin-left: 1px;
        }
    }
    .items{
        display: flex;
        margin-left: 5px;
        flex-wrap: wrap;
        margin-bottom: 6px;
        .item{
            .result{
                border: 1px solid rgb(124,144,108);
                border-radius: 5px;
                padding: 5px;
                margin: 2px;
                font-size: 0.850rem;
                span{
                    color : rgb(124,114,108);
                }
            }
            .itemSelected{
                background-color: rgb(163,210,191);
                color: white !important;
            }
        }
    }
    .none{
        display: none;
    }
    .spinner{
        // position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        align-items: center;
        justify-content: center;
        display: flex;
    }
}
.btns{
    position: absolute;
    display: flex;
    left: 5px;
    bottom: 4%;
    div{
        position: fixed;
        display: flex;
        z-index: 5;
        button{
            border-radius: 6px;
            color: white;
            min-width: 56%;
            margin-left: 5px;
        }
        .ok{
            background: rgb(67, 87, 104);
        }
        .cancel{
            background: rgb(124, 114, 108);
        }
    }
}